body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  body {
    background-image: url('https://smb.ibsrv.net/imageresizer/image/article_manager/1200x1200/11872/53516/heroimage0.074452001529598981.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .banner {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    padding: 20px;
    border-radius: 10px;
    color:white;
  }


  .banner h1 {
    font-size: 3rem;
    margin: 0;
  }


  .banner p {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  